<footer class="footerClass">
    <a class="footeraClass">&copy; Charlotte Online Agriculture Machinery Trading Store</a>
    <a href="" class="footeraClass">Contact US</a>
    <div>
        <a href="" class="digital"><img src="https://www.nicepng.com/png/detail/43-436051_amazon-logo-brands-for-free-hd-3d-new.png" alt="" width="30" height="30"></a>
        <a href="" class="digital"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx_B0Egit1whx8N1bgAXZim896RFG6yCUrI8BfgJA&s" alt="" width="30" height="30"></a>
       
    </div>
</footer>
</body>

</html>