<%- include('./partials/header.ejs')%>  
<section class="sectionClass" >
    <h1>Welcome to the online Agriculture Machinery Trading store!</h1>
    <h5>We're here to serve only the best products for you.</h5>
</section>
<%- include('./partials/footer.ejs')%>
